<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newly</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="gym">
        <nav>
            <div class="left-nav">
                <p>Newly</p>
            </div>
            <div class="right-nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <form>
            <input type="text" id="gym1" placeholder="Enter the description of gym ">
            <input type="submit" name="" id="submit" value="Details">
        </form>
        <div class="recipe">
            <img id="image_X" src="images/text.jpg" alt="">
            <p id="desc"> </p>            
            <div id="carts">
                <!-- <div id="box2">
                    <div id="img-div">
                        <img id="img" src="images/bg1.jpg" alt="">
                    </div>
                    <p id="title1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolore nemo iure eum ipsam. Voluptatum autem veniam consectetur! Culpa est obcaecati impedit nam aspernatur at quibusdam nihil minima facilis laudantium.</p>
                    <button id="recp">View Plan</button>
                </div> -->
            </div>
        </div>


        <template id="ott1">
            <div id="box2">
                <div id="img-div">
                    <img id="img" src="" alt="">
                </div>
                <p id="title1"></p>
                <button id="recp">View Plan</button>
            </div>
        </template>

    </div>
    <script src="js/gym.js"></script>
</body>
</html>