<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newly</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="home">
        
        <nav>
            <div class="left-nav">
                <p>Newly</p>
            </div>
            <div class="right-nav">
                <ul>
                    <li><a class="active" href="/home">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <div class="text">
            <h1>Hello, <span><%= name %></span></h1>
            <h2>How can I help you today...</h2>
        </div>

        <div class="cards">
                <div class="card">
                    <p>Search for the textable content...</p>
                    <button><a href="/textable">Aider</a></button>
                </div>
                <div class="card">
                    <p>Let's plan for vocation...</p>
                    <button><a href="/vocation">Vocationly</a></button>
                </div>
                <div class="card">
                    <p>Let's get the cooking assistance...</p>
                    <button><a href="/cooking">sous chef</a></button>
                </div>
                <div class="card">
                    <p>Let's get fitness tips...</p>
                    <button><a href="/gym">Instructor</a></button>
                </div>
        </div>

    </div>
</body>
</html>