<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newly</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="index">
        <h1>Welcome to <span>Newly</span></h1>
        <h2>AI helper, Help for everything</h2>
        <div class="register-form">
            <form action="/register" method="POST">
                <input type="text" name="name" placeholder="Enter your name">
                <input type="email" name="email" placeholder="Enter your email">
                <input type="tel" name="phone" placeholder="Enter your phone number">
                <input type="password" name="password" placeholder="Enter your password">
                <input type="password" name="cpassword" placeholder="Retype your password">
                <input type="submit" value="Register" class="submit">
            </form>
            <h5>Already have account? <a href="/login">Login</a></h5>
        </div>
    </div>
</body>
</html>