<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>newly</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
    <div class="vocation">
        <nav>
            <div class="left-nav">
                <p>Newly</p>
            </div>
            <div class="right-nav">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>
        </nav>

        <form>
            <input type="text" class="input" id="from" name="message" placeholder="Enter your city">
            <!-- <p>To</p> -->
            <input type="text" class="input" id="to" placeholder="Enter where you want to go">
            <input type="submit" name="submit" id="submit" value="Go">
        </form>

        <div class="details">
            <img id="image_X" src="images/text.jpg" width="400px" alt="">
            <p id="message"></p>
        <div id="package">
            <!-- <div id="box">
                <p id="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolore nemo iure eum ipsam. Voluptatum autem veniam consectetur! Culpa est obcaecati impedit nam aspernatur at quibusdam nihil minima facilis laudantium.</p>
                <button id="plan">View Plan</button>
            </div> -->
        </div>
        </div>


        <template id="ott">
            <div id="box1">
                <p id="title">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae dolore nemo iure eum ipsam. Voluptatum autem veniam consectetur! Culpa est obcaecati impedit nam aspernatur at quibusdam nihil minima facilis laudantium.</p>
                <button id="plan">View Plan</button>
            </div>
        </template>
    </div>
<script src="js/vocation.js"></script>
</body>
</html>